.description {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  font-family: 'Open Sans', sans-serif;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
}

.starsContainer {
  display: flex;
  flex-direction: row;
}