.description {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  font-family: 'Open Sans', sans-serif;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

.category {
  font-family: 'Dela Gothic One', cursive;
  color: gray;
  font-size: 12px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.price {
  font-size: 12px;
}

.starsContainer {
  display: flex;
  flex-direction: row;
}
