.modalButton{
  width: 20px;
  height: 20px;
  float: right;
  background-color: #5fD9BD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-width: thin;
}