.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s; */
}

.modalContent {
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 400px;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Dela Gothic One', sans-serif; */
  display: grid;
  grid-template-rows: 60px 1fr;
}

.modalHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.productNames {
  display: grid;
  grid-template-columns: 1fr 1fr;
}