.carousel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 1fr 40px;
}

.carouselButton {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: auto;
  padding: 0px;
  background-color: #5fD9BD;
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
}
