.CarouselsContainer {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 75px 1fr;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.relatedTitle {
  font-family: 'Dela Gothic One', cursive;
  color: #525252;
}

.outfitTitle{
  font-family: 'Dela Gothic One', cursive;
  color: #525252;
}
