.wrapper {
  padding: 15px 0px 0px 25px;
}

form *:focus {
  outline: none;
}

.h1 {
  margin: 0px;
}

.h2 {
  margin: 0px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.price {

}

.selectStyle {
  margin: 0px;
  text-transform: uppercase;
}

.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 359px;
  padding: 0px;
}

.li {
  position: relative;
  width: 80px;
  height: 80px;
  border: 0px;
  margin: 0px 10px 10px 0px;
  border-radius: 100%;
  cursor: pointer;
}

.checkMark {
  position: absolute;
  right: 0px;
  border-radius: 100%;
  padding: 3px;
  background: #7c2fce;
}

.imgStyles {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.bold {
  margin: 0px 5px;
}

.divSelect {
  height: 40px;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}

.divSelect select {
  cursor: pointer;
}

.selectSize {
  height: 100%;
  width: 68%;
  padding: 10px;
  text-transform: uppercase;
}

.optionSize {
  height: 100%;
}

.selectNum {
  height: 100%;
  width: 28%;
}

.optionNum {

}

.divButton {
  height: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 100%;
  width: 80%;
  text-transform: uppercase;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.starLikeDiv {
  border: 1px solid;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-left: 4px;
  cursor: pointer;
}

.starLikeDiv svg {
  width: 27px;
  height: 38px;
}