.reviewCardContainer {
  padding: .5em;
  display: grid;
  grid-template-columns: 1fr;
  color: #525252;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  font-family: 'Open Sans', sans-serif;
}


.reviewUserDate {
  display: flex;
  flex-direction: row;
}
.reviewUserDate p {
  font-size: .9rem;
  margin-left: .5em;
  text-transform: capitalize;
}

.reviewUserDate p i {
  margin-right: .5em;
}

.reviewCardContainer h3 {
  font-size:  1.2rem;
  font-weight: bold;
  margin: 0 0 .5em;
}

.cardBody {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 0
}

.expandBodyButton {
  background-color: white;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  color: #641373;
  font-family: 'Open Sans', sans-serif;
}

.recommended {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recommended i {
  font-size: 1.2rem;
  color:#641373;
}

.recommended p {
  margin-left: 1em;
  font-size: 1rem;
}

.cardResponse {
  background-color: #eeeeee;
  padding: 1em 1em 0;
}

.cardResponse h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.cardResponse p {
  font-family: 'Open Sans', sans-serif;
}

.cardActions {
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
}

.cardActions p {
  margin: .5em .5em 0 0;
}

.cardActions p span {
  color: #641373;
}

.action {
  text-decoration: underline;
  cursor: pointer;
}
