.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.image {
  margin: 0 auto;
  margin-top: 200px;
  height: 60vh;
  width: 60vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.imageWrapper {
  height: 50px;
  width: 50px;
  margin: 0 .5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.show {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.hide {
  display: none;
}

