.breakdownContainer {
  display: grid;
  grid-template-rows: 25px repeat(5, 25px);
  grid-row-gap: 10%;
}

.filterInfo {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterInfo p {
  margin: 0;
  padding: 0;
}

.filterInfo button {
  border: none;
  outline: none;
  background-color: white;
  color: #641373;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #641373;
  padding: 0;
}

.filterInfo button:hover {
  color: #5FD9BD;
  border-bottom: 1px solid#5FD9BD;
}

.breakdownItem {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.breakdownItem button {
  border: none;
  outline: none;
  background-color: white;
  color: #641373;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #641373;
  padding: 0;
}

.breakdownItem button:hover {
  color: #5FD9BD;
  border-bottom: 1px solid#5FD9BD;
}

.barContainer {
  margin-left: 1em;
  width: 60%;
  height: 10px;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar {
  height: 10px;
  background-color: #641373;
}