.ratingsContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 250px 1fr;
  grid-gap: 15px;
  color: #525252;
}

@media (max-width: 830px) {
  .ratingsContainer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 325px;
  grid-gap: 5px;
  padding-bottom: .5em;
  border-bottom: 1px solid #525252;
  }

  .summary {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .breakdown {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .factors {
    grid-area: 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 475px) {
  .ratingsContainer {
  grid-template-columns: 1fr;
  grid-template-rows: 100px 250px auto;
  grid-gap: 5px;
  padding-bottom: 2em;
  height: 650px;
  border-bottom: 1px solid #525252;
  }

  .summary {
    grid-area: 1 / 1;

  }

  .breakdown {
    grid-area: 2 / 1;
  }

  .factors {
    grid-area: 3 / 1;
  }
}