.wrapper {
  position: relative;
  background: gray;
  height: 100%;
}

.expand {
  position: absolute;
  position: absolute;
  right: 12px;
  top: 8px;
}

.imgDiv {
  display: flex;
  height: 100%;
}

.active {
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 2px solid black;
}

.thumbNailImg {
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.mainImg {
  width: 81%;
}

.thumbNailDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76%;
  justify-content: center;
}

.arrowDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

