.sectionTitle {
  margin-top: 5em;
  font-size: 1.5rem;
  padding-bottom: .5em;
  letter-spacing: 2px;
  font-family: 'Dela Gothic One', cursive;  color: #525252;
}

.ratingsAndReviewsContainer {
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: (auto-fit,minmax(250px, 400px) minmax(600px, 700px));
  grid-template-rows: 1fr 100px;
  grid-gap: 15px 10%;
}

.reviewActions {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reviewButton, .moreReviews {
  height: 60px;
  margin-right: 1em;
  color: #525252;
  background-color: #5fD9BD;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0 .5em;
}

.firstReviewButton {
  border: none;
  outline: none;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #641373;
  text-decoration: underline;
}

.firstReviewButton:hover {
  color: #5FD9BD;
}

@media (max-width: 830px) {

  .ratingsAndReviewsContainer {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 100px;
    grid-gap: 15px;
  }

  .ratings {
    grid-area: 1 / 1 ;
  }

  .reviews {
    grid-area: 2 / 1;
  }

  .reviewActions {
    grid-area: 3 / 1;
    justify-content: center;
  }

}
