.itemCard {
  margin-left: 3%;
  margin-right: 3%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContents {
  display: inline-block;
}