.itemCard {
  margin-left: 3%;
  margin-right: 3%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 8px #888888;
}

.addButton {
  margin:0 auto;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5fD9BD;
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
}

.addText {
  font-family: 'Open Sans', sans-serif;
}