.itemCard {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 8px #888888;
}

.addButton {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #5fD9BD;
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 5px 5px 6px #888888;
  cursor: pointer;
}

.addText {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}