.carousel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 1fr 40px;
  margin-top: 5%;
}

.carouselButton {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0px;
}