.show, .hide {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.formModalMain {
  margin: 1em auto 0;
  min-width: 325px;
  max-width: 600px;
  background-color: white;
  padding: 1em;
  color: #525252
}

.iconWrapper {
  font-size: 1.3rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer h2 {
  margin: .2em;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;

}

.formContainer h3 {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:  'inputs rating'
                        'inputs reccommend'
                        'inputs characteristics'
                        'upload characteristics'
                        'upload characteristics'
                        'submit submit';
  grid-gap: 0 2em;

}

.inputs {
  grid-area: inputs;
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin: .5em .5em .2em;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.inputs input {
  width: 300px;
  height: 35px;
  margin: 0 0 .5em;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;

}

.inputs textarea {
  padding: .5em;
  width: 300px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
}

.inputs p {
  height: 10px;
  font-size: .8rem;
  color: red;
  margin: .2em .5em 1em !important;
  font-family: 'Open Sans', sans-serif;
}

.rating {
  grid-area: rating;
  margin: 1em 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating p {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.rating .star {
  font-size: 1.5rem;
  color: #641373;
}

.reccommend {
  grid-area: reccommend;
  display: flex;
  flex-direction: column;
}

.reccommend p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 .5em;
}

.radioChoice {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .3em .0em;
}

.upload {
  grid-area: upload;
  padding: 1em;
  grid-area: upload;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload input {
  display: none;
}

.upload p {
  background-color: #5fD9BD;
  border: 1px solid;
  border-radius: 5px;
  width: 125px;
  text-align: center;
  padding: .6em;
  font-family: 'Open Sans', sans-serif;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.thumbnail {
  height: 50px;
  width: 50px;
  margin: 0 .5em 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.characteristics {
  grid-area: characteristics;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:  'heading heading'
                        'types choices';
  grid-column-gap: 10px;
}

.characteristics h4 {
  grid-area: heading;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

}

.charTypes {
  grid-area: types;
  display: flex;
  flex-direction: column;
  width: 150px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.charTypes p {
  margin: .2em 0;
}


.charChoices {
  grid-area: choices;
  display: flex;
  flex-direction: column;
}

.submit {
  padding: 2em 1em 1em;
  grid-area: submit;
  display: flex;
  justify-content: center;
}

.submit button {
  padding: .5em;
  background-color: #5fD9BD;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  width: 125px;
  font-size: 1rem;
}