.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 10px 30px;
  background-color: #641373;
  color: #5fd9bd;
}

.divHeader {

}

.divForm {
  display: flex;
}

.h1 {
  font-size: 1.5em;
}

.input {
  border: 0px;
  border-bottom: 1px solid #5fd9bd;
  background-color: #641373;
}

.icon {
  margin-left: 10px;
}