.sectionTitle {
  font-size: 1.3rem;
  padding-bottom: .5em;
  font-family: 'Raleway', sans-serif;
  color: #525252;
}

.ratingsAndReviewsContainer {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 100px;
  grid-gap: 15px;
}

.ratings {
  border: 1px solid;
}
.reviewActions {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reviewButton {
  height: 60px;
  margin-right: 1em;
  background-color: #5fD9BD;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0 .5em;
}