.ratingsAndReviewsContainer {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 100px;
  border: 1px solid;
  grid-gap: 15px;
}

.ratings {
  border: 1px solid;
}
.reviewActions {
  grid-column-start: 2;
  grid-row-start: 2;
  border: 1px solid;
}