.reviewCardContainer {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #525252;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  font-family: 'Open Sans', sans-serif;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #ddd;
}

.star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  overflow: hidden;
  color: #f80;
}


.reviewUserDate {
  display: flex;
  flex-direction: row;
}
.reviewUserDate p {
  font-size: .9rem;
  margin-left: .5em;
  text-transform: capitalize;
}

.reviewUserDate p i {
  margin-right: .5em;
}

.reviewCardContainer h3 {
  font-size:  1.2rem;
  font-weight: bold;
  margin: 0 0 .5em;
}

.cardBody {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 0
}

.cardResponse {
  background-color: #eeeeee;
  padding: 1em 1em 0;
}

.cardResponse h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.cardResponse p {
  font-family: 'Open Sans', sans-serif;
}

.cardActions {
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
}

.cardActions p {
  margin: .5em .5em 0 0;
}

.action {
  text-decoration: underline;
  cursor: pointer;
}
